<h1>
  Message <%= @conversation.recipient.name %>
</h1>

<% if @over_ten %>
  <%= link_to 'Show previous', '?m=all' %>
<% end %>

<section id="messages">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = Siteuser.find(message.siteuser_id) %>
      <article>
        <div>
          <strong>
            <%= user.name %>
          </strong>
          <%= message.message_time %>
          <div>
            <%= message.body %>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</section>

<%= form_with model: [@conversation, @message] do |f| %>
  <%= f.text_area :body, class: "form-control", placeholder: "Enter your message. HTML allowed." %>
  <%= f.text_field :siteuser_id, value: current_user.id, type: "hidden" %>
  <%= f.submit "Send" %>
<% end %>