<div>
  Bid by: <%= @bid.bidding_user.name %>
</div>

<div>
  On: <%= @project.title %>
</div>

<div>
  Amount: <%= @bid.amount %>
</div>

<div>
  Description: <%= @bid.description %>
</div>

<%= link_to 'Edit bid', edit_bid_path(@bid), class: "btn btn-primary" if correct_user @bid.bidding_user %>
<%= link_to 'Award to user', award_bid_path(@bid), class: "btn btn-primary" if correct_user @project.creating_client %>