<div class="user-info">
  <svg class="bi flex-shrink-0 me-2" width="<%= dim.to_s %>" height="<%= dim.to_s %>" role="img" aria-label="<%= aria_label %>">
    <use xlink:href="#<%= id %>"/>
  </svg>

  <%= display_else_na attribute %>
</div>