<main>
  <div class="row">
    <div class="col-md-9">
      <h1>
        <%= @user.name %>
      </h1>

      <span class="badge bg-secondary">
        <%= print_type(@user) %>
      </span>

      <% if @user.admin? %>
        <span class="badge bg-success">
          ADMIN
        </span>
      <% end %>

      <section class="personal-details">
        <%= render "user_info", dim: 20, aria_label: "Email:", id: "bi-envelope", attribute: @user.email %>
        <%= render "user_info", dim: 20, aria_label: "Phone:", id: "bi-phone", attribute: @user.mobile %>
        <%= render "user_info", dim: 20, aria_label: "Address:", id: "bi-house-door", attribute: @user.address %>
        <%= render "user_info", dim: 20, aria_label: "Qualification:", id: "bi-easel", attribute: @user.qualification %>
        <%= render "user_info", dim: 20, aria_label: "Industry:", id: "bi-gear-wide-connected", attribute: @user.industry %>
      </section>
    </div>

    <div class="col-md-3 equally-distribute d-md-block text-md-end">
      <%= image_tag @user.profile_pic.variant(resize_to_limit: [150, 150]).processed, loading: "lazy", alt: @user.name, class: "img-thumbnail" %>

      <div class="dropdown mt-md-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Tasks
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <% if @user.freelancer? %>
            <li>
              <%= link_to 'View bid history', bid_history_siteuser_path(@user), class: "dropdown-item" %>
            </li>
          
          <% else %>
            <li>
              <%= link_to 'View posted projects', siteuser_projects_path(@user), class: "dropdown-item"  %>
            </li>
          <% end %>

          <% if current_user? @user %>
            <li>
              <%= link_to 'Edit details', edit_siteuser_path(@user), class: "dropdown-item"  %>
            </li>

            <li>
              <a role="button" class="text-danger dropdown-item" data-bs-toggle="modal" href="#confirmDeleteUserModal">
                Delete account
              </a>
            </li>

          <% elsif current_user && current_user.client? %>
            <li>
              <%= link_to "Message #{@user.name}", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if current_user? @user %>
        <%= render "shared/delete_modal", modal_name: "confirmDeleteUser", modal_text: "Confirm deleting your account?", modal_delete_text: "Delete your account", deleted_object: @user %>
      <% end %>
    </div>
  </div>

  <section>
    <%= render "shared/skills_section", object: @user %>
  </section>

  <section class="experience">
    <h2>
      Experience
    </h2>

    <p>
      <% if @user.experience %>
        <%= @user.experience %>
      <% else %>
        This user has not listed any experience.
      <% end %>
    </p>
  </section>
</main>